body{
    background-color: blue;
    color: white;
}
header > h1{
    text-align: center;
}
section {
    color: black;
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 30px;
}
section > div#msg{
    margin-bottom: 20px;
    text-align: center;
    font: bolder 16pt Arial;
}
div{
    text-align: center;
}
section > div#img > img{
    border-radius: 30%;
    width: 350px;
    height: auto;
    margin-bottom: 10px;
    
}
footer{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}